@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Pixelify+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #0B1020;
  color: white;
  font-family: 'Pixelify Sans', sans-serif;
}
.crt::before {
  content: "";
  position: fixed;
  inset: 0;

  background:
    linear-gradient(
      rgba(255,255,255,0.03) 50%,
      transparent 50%
    );

  background-size: 100% 4px;

  pointer-events: none;

  z-index: 999;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0B1020;
}

::-webkit-scrollbar-thumb {
  background: #374151;
}

::-webkit-scrollbar-thumb:hover {
  background: #22D3EE;
}

.pixel-title {
  font-family: 'Press Start 2P', cursive;
}